{% block datepicker_widget %}
{% spaceless %}
    {{ form_widget(form) }}
    <script type="text/javascript" > var picker = new Pikaday({field: $('{{id}}')}); </script>
{% endspaceless %}
{% endblock %}

{% block clockpicker_widget %}
{% spaceless %}
<div {{ block('widget_container_attributes') }} class="gsClockPickerFields">
  {{ form_widget(form.hour) }}:{{ form_widget(form.minute, attr) }}
  {{ form_widget(form.meridian) }}
  {{ form_label(form.meridian) }}
</div>
{% endspaceless %}
{% endblock clockpicker_widget %}